<nav class="main-nav">
  <ul>
    <li><a href="{{ site.baseurl }}/" {% if page.url == "/" %}class="active"{% endif %}>Home</a></li>
    <li><a href="{{ site.baseurl }}/about" {% if page.url == "/about/" %}class="active"{% endif %}>About</a></li>
    <li><a href="{{ site.baseurl }}/publications" {% if page.url == "/publications/" %}class="active"{% endif %}>Publications</a></li>
    <li><a href="{{ site.baseurl }}/teaching" {% if page.url == "/teaching/" %}class="active"{% endif %}>Teaching</a></li>
    <li><a href="{{ site.baseurl }}/resume" {% if page.url == "/resume/" %}class="active"{% endif %}>Resume</a></li>
  </ul>
</nav>
