body {
    font-family: 'Roboto', sans-serif; /* Change to your preferred font */
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%; /* Set content width to 70% */
    margin: auto; /* Center align */
}
header {
    background-color: #002147; /* Oxford Blue */
    color: white;
    padding: 10px 20px; /* Reduced padding for height */
}

.container {
    width: 70%; /* Set content width to 70% */
    margin: auto; /* Center align */
}

.header-content {
    display: flex;
    justify-content: space-between; /* Aligns items to the left and right */
    align-items: center; /* Aligns items vertically */
}

.header-content h1 {
    margin: 0; /* Remove default margins around the title */
}

nav {
    margin-left: auto; /* This will push the nav items to the right */
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
    margin-right: 20px;
}

header a {
    color: #ffffff; /* White text for links */
    text-decoration: none;
}

header a:hover {
    color: #e8491d; /* Highlight color on hover */
}
/* Footer Styles */
footer {
    padding: 20px;
    background-color: #002147; /* Oxford Blue */
    color: white;
    text-align: center;
}

/* Section Styles */
h2, h3 {
    border-bottom: 2px solid #e8491d; /* Divider line under headings */
    padding-bottom: 10px;
}

/* Publication Entry Styles */
.publication-entry {
    margin-bottom: 15px; /* Space between publication entries */
}
details summary {
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
}

details p {
  padding-left: 20px;
}

details ul {
  list-style-type: none;
  padding-left: 20px;
}

details li {
  padding: 5px 0;
}

details li a {
  text-decoration: none;
  color: #0066cc;
}

details li a:hover {
  text-decoration: underline;
}

